/* src/Header.css */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #004d00;
  padding: 10px 20px;
  color: white;
}

.nav-links {
  display: flex;
  gap: 20px;
}

.nav-item {
  font-weight: bold;
}

.right-section {
  display: flex;
  align-items: center;
  gap: 20px; /* Space between logo, invite button, and profile picture */
}

.logo {
  display: flex;
  align-items: center;
}

.logo .logo-image {
  width: 60px; /* Adjust the width as needed */
  height: 40px; /* Adjust the height as needed */
}

.invite-button {
  background-color: #e0e0e0;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.profile {
  display: flex;
  align-items: center;
}

.profile-pic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 30px;
}

.dropdown-icon {
  font-size: 18px;
  color: #b0b0b0;
}
