/* Footer.css */
.footer {
    background-color: #004400;
    color: white;
    padding: 2px 20px;
    text-align: center;
  }
  
  .footer-links {
    margin-bottom: 0.3rem;
  }
  
  .footer-links a {
    color: white;
    margin: 0 0.5rem;
    text-decoration: none;
  }
  
  .footer-links a:hover {
    text-decoration: underline;
  }
  
  .footer-branding {
    font-size: 1rem;
  }
  