/* src/PrincipalLandingPage.css */
.principal-landing-page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .main-content {
    flex: 1;
    padding: 20px;
  }
  
  .hero-section {
    position: relative;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .hero-image {
    width: 100%;
    height: auto;
  }
  
  .hero-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #d4145a; /* Pink color */
    font-size: 1.5em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    text-align: center;
  }
  
  .mission-text {
    font-size: 2em;
    font-weight: bold;
  }
  
  .actions-section {
    display: flex;
    justify-content: space-around;
    margin: 40px 0;
  }
  
  .action {
    width: 45%;
    text-align: center;
    padding: 20px;
    border: 1px solid #000;
  }
  
  .buy-action {
    background-color: #004d00; /* Green */
    color: white;
  }
  
  .sell-action {
    background-color: #d4145a; /* Pink */
    color: white;
  }
  
  .action h2 {
    margin-bottom: 20px;
    font-size: 1.5em;
  }
  
  .action ul {
    list-style: none;
    padding: 0;
    text-align: left;
  }
  
  .action ul li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .action ul li:before {
    content: '•';
    color: green; /* Green dot */
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
  }
  