/* src/App.css */
.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: Arial, sans-serif;
}

.header {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1000;
}

.footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  z-index: 1000;
}

.main-wrapper {
  display: flex;
  flex: 1;
  margin-top: 60px; /* Adjust based on header height */
  margin-bottom: 40px; /* Adjust based on footer height */
}

.sidebar {
  width: 200px;
  background-color: #f4f4f4;
  height: calc(100vh - 100px); /* Adjust based on header and footer height */
  position: fixed;
  top: 60px; /* Adjust based on header height */
}

.main-content {
  flex: 1;
  padding: 20px;
  background-color: #f5f5f5;
  overflow-y: auto;
  margin-left: 200px; /* Adjust based on sidebar width */
}

.main-content.full-width {
  margin-left: 0;
}
